<div class="jumbotron mt4">

    <h1 class="display">Note APP nodejs and Mongodb</h1>

    <h1>TITULO</h1>

    <P> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis aut, ratione repudiandae inventore aperiam placeat quidem quisquam iste maxime a eveniet voluptas rem aliquid, quas vitae nulla necessitatibus eos tenetur!</P>

    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius minus recusandae inventore, nobis consequatur incidunt!</p>
    <a href="https://google.com.br" target ="_blank" class="btn btn-primary">Google</a>

</div>


<h1>Nutefe  BD2<h1>